<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>util</title>
    <meta name="description" content="undefined"/>
    <meta name="author" content="undefined"/>
    <meta name="handheldfriendly" content="true"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, maximum-scale=1.0, minimum-scale=1.0 "/>
    <meta http-equiv="cleartype" content="on"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
</head>
<body>
</body>
</html>